/* estilos.css */

/* Com o CSS posso definir e controlar o aspecto visual da página HTML */

body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        background-color: snow;
    }

h1 {
    color: white;
    text-align: center;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-shadow: 2px 2px 5px black;
}

.nome {
    color: rgb(162, 0, 255);
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    text-align: center;
}
      

.header{
    background-color: white;
    text-align: center;
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}

.foto{
    background-image: linear-gradient(rgb(162, 0, 255), white);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto; 
}

img {
    padding-left: 5%;
    border: 7px solid #ffffff;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texto {
    text-align: center;
}

.instagram img { width: 40px; }